<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Message Board</h1>
    <a href="/">Go back</a>
    <div style="display: grid; grid-template-rows: auto; grid-template-columns: 1fr 1fr 1fr;">
        <div class="message">
    <% if (messages && messages.length > 0) { %>

        <% messages.forEach(message => { %>
            <h1> <%=message.topic%> </h1>
            <% if (!currentUser.ismember) { %>
                <span>
                    <strong>Author:</strong> Unknown
                </span>
                <span>Date: Unknown</span> 
            <% } else { %>
                <span>
                    <strong>Author: </strong> <%=message.username%>
                </span>
                <span> Date: <%=message.created_at.toLocaleString()%> </span>     
            <% } %>
            <p> <%= message.message %> </p>
        <% }); %>
    <% } %>
        </div>
    </div>
</body>
</html>